<html>
	<head>
        <link rel="stylesheet" href="css/style.css">
	</head>
	<body>
        <div style = 'text-align:center'>
		<h1>Welcome {{username}}!</h1>

<!-- View Public Information -->
		<span>-You can view public information </span><a href="/public_info">here.</a>
		<br><br>

<!-- View My Flight -->
        <span>-View my flight </span><a href="/view_my_flight">here.</a>

		<br>
		<br>


<!-- Search and Purchase Flight Tickets -->

		<span>- If you would like to purchase a ticket, you can search for flights and purchase  </span><a href="/purchase">here.</a>

		<br>
		<br>

<!-- View my commission -->
		<span>-View my commission </span><a href="/commission">here.</a>
		<br>
		<br>

<!-- View top customers -->
		<span>-View top customers </span><a href="/customers">here.</a>
		<br>
		<br>


<!-- Log out -->
        <br>
		<br>
		<br>
		<a href="/logout">Log out</a>
        </div>
	</body>


</html>
