<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 style = 'text-align:center'> AirSystem by Kyrie & Flora </h1>
    <div style = 'text-align:center'>
        {{error}}
        <h3>Please choose your Login Type</h3>
        <a href="/login_c">Login as a Customer</a>
        <br>
        <a href="/login_b">Login as a Booking Agent</a>
        <br>
        <a href="/login_s">Login as an Airline Staff</a>


    </div>

    <div style = 'text-align: center'>
        <br>
        <br>
        <a href="/">Go back</a>
    </div>


</body>


</html>

