<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 style = 'text-align:center'> AirSystem by Kyrie & Flora </h1>
    <div style = 'text-align:center'>{{error}}</div>
    <div style = 'text-align:center'>
        <h3>Please choose your Register Type</h3>
        <a href="/register_c">Register as a Customer</a>
        <br>
        <a href="/register_b">Register as a Booking Agent</a>
        <br>
        <a href="/register_s">Register as an Airline Staff</a>


    </div>

    <div style = 'text-align: center'>
        <br>
        <br>
        <a href="/">Go back</a>
    </div>


</body>


</html>
